.DS_Store
.project
.settings
target/
bin/
.idea/
*.ipr
*.iml
*.iws
**/Screenshot/*.png
.classpath
.sonar/
org.talend.bdd.jbehave.common/
org.talend.selenium.common/
classes/
.sass-cache
bower_components
yarn-error.log
.tmp

